* {
    margin:0;
    padding:0;
    
}

#caixa {
    width: 552px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#img_desktop {
    border-radius: 10px 0 0 10px;
    height: 400px;
    float:left;
    margin-right: 20px;
}

body{
    max-width: 1440px;
    background-color: hsl(30, 38%, 92%);
}

main {
    display: inline-block;
    width: 232px;
    padding: 20px 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

h1 {
    width: 202px;
    margin: 15px 0;
    color: rgb(1, 1, 12);
    font-family: 'Fraunces', serif;
}

#descricao {
    margin-bottom: 25px;
}

.preco {
    display: inline-block;
    margin:  0 10px 25px 0;
    vertical-align: middle;
}

#promocao {
    font-size: 20pt;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

#antigo_preco {
    text-decoration: line-through;
    font-size: 9pt;
}

#carrinho {
    padding-right: 10px;
    vertical-align: top;
}

#botao_compra {
    padding: 15px 20px 15px 20px;
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

#botao_compra:hover {
    cursor:pointer;
}

#botao_compra:active {
    background-color: hsl(158, 54%, 20%);
}

@media (min-width: 376px) and (max-width: 1440px){
    #img_mobile {
        display: none;
    }
}

@media (max-width: 375px) {
    #img_desktop {
        display: none;
    }

    #img_mobile {
        width: 315px;
        border-radius: 10px 10px 0 0;
    }

    #caixa {
        width: 315px;
        height: 550px;
    }

    main {
        padding: 10px 30px;
        margin: 0;
    }

    h1 {
        width: 280px;
        margin: 13px 0;
    }

    #descricao {
        margin-bottom: 15px;
    }

    .preco {
        margin: 0 10px 17px 0
    }
}